button {
    background-color: rgb(239, 167, 13) !important;
    width: 20% !important;
    padding: 10px !important;
}

div {
    form {
        height: 400px !important;
        padding: 10px !important;


        button {
            width: 40% !important;
        }
    }
}