@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* mobile views */
.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 85%;
    margin-top: 100px;
}

.background-section {
    width: 100%;
    background-size: cover;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    align-items: flex-start;
    height: 400px;
    width: 900px;
    overflow: hidden;
    position: relative;
    color: white;
}

.logo-and-text {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.alu-logo {
    width: 80px;
    height: auto;
    margin-right: 10px;
}


.span-us h1 {
    text-align: left;
    margin-left: 150px !important;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.small-text {
    margin-left: 200px !important;
    margin-top: 100px;
}

.span-us {
    margin-top: 20px;
    padding: 0;
}

.form-group input,
.google-login-button,
.login-button {
    width: 100%;
    box-sizing: border-box;
}



@media (min-width: 768px) {
    .container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .background-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
        background-size: contain;
        background-position: center;
        height: 700px !important;
        position: relative;
        text-align: center;
        color: white;
        width: 50% !important;
    }

    .span-us {
        margin-top: 350px;
        margin-left: -250px;
        padding: 100px;
        letter-spacing: 4;
    }


    .small-text {
        background-color: rgba(222, 158, 75, 0.139);
        width: 100%;
        margin-right: 250px !important;
        border-radius: 7px;
        margin-right: 200px;
        padding: 10px;
        margin-top: 10px;
    }

    .logo-and-text {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 20px;
    }

    .alu-logo {
        width: 100px;
        margin-right: 20px;
    }

    .network-text,
    .small-text {
        margin: 0;
    }

    h1,
    .small-text {
        max-width: 600px;
        margin: 0 auto;
        padding: 8px 0;
    }


    :root {
        --welcome-color: black;
        --login-link-color: rgb(233, 164, 17);
        --create-account-button-bg: rgb(233, 164, 17);
        --terms-privacy-color: rgb(233, 164, 17);
    }

    .login-container {
        background: white;
        padding: 80px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 25%;
    }

    .login-container h2,
    .login-container p {
        color: var(--welcome-color);
    }

    .span-me {
        color: var(--login-link-color);
        cursor: pointer;
    }

    .login-button {
        background-color: var(--create-account-button-bg);
        color: #fff;
        border: none;
        padding: 10px 15px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1rem;
        display: block;
        width: 100%;
        margin-top: 1rem;
    }

    .terms span {
        color: var(--login-link-color);

    }


    .form-group {
        position: relative;
        margin-bottom: 2rem;
    }

    .form-group input {
        width: 0%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 10px;
    }

    .form-group button {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        border: none;
        background: transparent;
        cursor: pointer;
    }

    .error-message {
        color: red;
        margin-bottom: 1rem;
    }

    .google-login-button {
        background-color: white;
        color: black;
        border: 2px solid whitesmoke;
        padding: 10px 15px;
        border-radius: 7px;
        cursor: pointer;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 20px auto;
        font-family: 'Roboto', sans-serif;
    }

    .google-icon {
        margin-right: 10px;
    }

}