/* Navigation.css */
.navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    margin: auto;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hamburger-icon {
    align-self: flex-start;
    cursor: pointer;
    display: none;
    margin-bottom: 10px;
}


.links-container a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    transition: color 0.3s ease;
}

.links-container a:hover {
    color: #007bff;
}

.account-area {
    cursor: pointer;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
    border-radius: 20px;
    margin: 20px;
}

.account-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
    padding: 20px;
    z-index: 1050;
}

.account-modal ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.account-modal ul li {
    padding: 20px;
    border-bottom: 1px solid #eee;
    text-align: center;
}

.account-modal ul li:last-child {
    border-bottom: none;
}

.account-modal ul li:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

@media (max-width: 768px) {
    .hamburger-icon {
        display: block;
    }

    .search-account-area {
        display: flex;
    }

    .links-container,
    .search-account-area.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.logo {
    height: 50px;
}

.search-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}

.search-icon {
    cursor: pointer;
    margin-right: 10px;
    text-align: center;
}

.search-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 30px;
    outline: none;
    height: 10px;
}

.search-input::placeholder {
    text-align: center;
}

.hamburger-icon {
    display: none;
    cursor: pointer;
}