.register {
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
        display: flex;
        width: 60%;
        background-color: white;
        border-radius: 20px;
        max-height: 600px;
        overflow: hidden;

        .register-left {
            flex: 2;
            background: url("../images/logo.jpeg") center;
            background-size: cover;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            color: #fff;



            span {
                display: flex;
                gap: 10px;
            }

            img {
                height: 50px;
            }

            h1 {
                font-size: 30px;
                line-height: 80px;
                font-family: Georgia, 'Times New Roman', Times, serif;
                margin-top: 50px;
            }

            p {
                border-radius: 10px;
                background-color: #866e48;
                // border: 2px solid #e29110;
                text-align: center;
                margin-top: 40px;
            }
        }

        .register-right {
            flex: 2;
            padding: 18px;
            // display: flex !important;
            // flex-direction: column;
            // gap: 5px;
            // justify-content: center;

            h2 {}

            p {}

            form {
                label {}

                input {
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 20px 10px;
                }

                button {
                    margin-left: 100px !important;
                }
            }

            p {}

        }
    }
}