@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
}

/* .background-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-size: cover;
    background-position: center;
    height: 100;
    position: relative;
    text-align: center;
    color: white;
    width: 50%;
} */

/* .span-us {
    margin-top: 350px;
    margin-left: -250px;
    padding: 100px;
    letter-spacing: 4;
} */

/* .span-us .small-text {
    background-color: rgba(222, 158, 75, 0.139);
    width: 100%;
    margin-right: 250px !important;
    border-radius: 7px;
    margin-left: 550px;
    padding: 10px;
    margin-top: 10px;
} */

/* .logo-and-text {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
} */

/* .alu-logo {
    width: 100px;
    margin-right: 20px;
} */

/* .network-text,
.small-text {
    margin: 0;
} */

/* h1,
.small-text {
    max-width: 600px;
    margin: 0 auto;
    padding: 8px 0;
} */


:root {
    --alu-social-network-color: black;
    --login-link-color: #b2ba0bce;
    --create-account-button-bg: #ffc107;
    --terms-privacy-color: #b2ba0bce;
}

/* .register-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
} */

/* .register-container h2,
.register-container p {
    color: var(--alu-social-network-color);
} */

/* .span-me {
    color: var(--login-link-color);
    cursor: pointer;
} */

.register-button {
    background-color: var(--create-account-button-bg);
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    display: block;
    width: 100%;
    margin-top: 1rem;
}

.terms span {
    color: var(--terms-privacy-color);
}

.form-group input {
    width: 80%;
    margin: auto;
}


.form-group {
    position: relative;
    margin-bottom: 0.1rem;
}

.form-group input {
    width: 100%;
}

.form-group button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
}

.form-group>.eyes {
    background-color: none !important;
}

.error-message {
    color: red;
    margin-bottom: 1rem;
}

.google-login-button {
    background-color: #4285F4;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 20px auto;
    font-family: 'Roboto', sans-serif;
}

.google-icon {
    margin-right: 10px;
}


@media (min-width: 768px) {
    .container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .background-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
        background-size: cover;
        background-position: center;
        height: 820px !important;
        position: relative;
        text-align: center;
        color: white;
        width: 55% !important;
    }

    .span-us {
        margin-top: 350px;
        margin-left: -250px;
        padding: 100px;
        letter-spacing: 4;
    }


    .span-us .small-text {
        background-color: rgba(222, 158, 75, 0.139);
        width: 100%;
        margin-right: 250px !important;
        border-radius: 7px;
        margin-left: 550px;
        padding: 10px;
        margin-top: 10px;
    }

    .logo-and-text {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 20px;
    }

    .alu-logo {
        width: 100px;
        margin-right: 20px;
    }

    .network-text,
    .small-text {
        margin: 0;
    }

    h1,
    .small-text {
        max-width: 600px;
        margin: 0 auto;
        padding: 8px 0;
    }


    :root {
        --welcome-color: black;
        --login-link-color: rgb(233, 164, 17);
        --create-account-button-bg: rgb(233, 164, 17);
        --terms-privacy-color: rgb(233, 164, 17);
    }

    .login-container {
        background: white;
        padding: 80px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 25%;
    }

    .login-container h2,
    .login-container p {
        color: var(--welcome-color);
    }

    .span-me {
        color: var(--login-link-color);
        cursor: pointer;
    }

    .login-button {
        background-color: var(--create-account-button-bg);
        color: #fff;
        border: none;
        padding: 10px 15px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1rem;
        display: block;
        width: 100%;
        margin-top: 1rem;
    }

    .terms span {
        color: var(--login-link-color);

    }

    /* /* .form-group {
        position: relative;
        margin-bottom: 2rem;
    } 

    .form-group input {
        width: 0%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 10px;
    } */

    .form-group button {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        border: none;
        background: transparent;
        cursor: pointer;
    }

    .error-message {
        color: red;
        margin-bottom: 1rem;
    }

    .google-login-button {
        background-color: white;
        color: black;
        border: 2px solid whitesmoke;
        padding: 10px 15px;
        border-radius: 7px;
        cursor: pointer;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 20px auto;
        font-family: 'Roboto', sans-serif;
    }

    .google-icon {
        margin-right: 10px;
    }

}