.user-profile {

    .profile-banner {
        height: 300px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        background-size: cover;
        background-position: center;
        padding: 2px;
        border-radius: 20px;
        width: 90%;
        margin: auto;
        margin-top: 20px;

        .profile-info {
            display: flex;
            align-items: flex-end;
            width: 100%;

            .profile-image {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                margin-top: 50px !important;

                img.image {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }



                input[type="file"] {
                    display: none;

                }
            }

            .user-details {
                flex-grow: 1;
                margin-left: 20px;

                h2,
                p {
                    margin: 0;
                    padding: 5px;
                }
            }

            .action-buttons {
                display: flex;
                flex-direction: row;
                gap: 20px;
                align-items: center;

                button {
                    margin-bottom: 10px;
                    padding: 8px 16px;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    background-color: rgb(0, 0, 0);
                    color: #fff;

                    &:hover {
                        background-color: darken(#007bff, 10%);
                    }
                }
            }
        }
    }


    .profile-details {
        display: flex;
        justify-content: center;
        gap: 90px;
        margin-top: 50px;

        button {
            padding: 10px 20px;
            border: 2px solid transparent;
            border-radius: 12px;
            background-color: black;
            color: #dec212;
            cursor: pointer;
            width: 200px;
            transition: all 0.3s ease;

            display: flex;
            align-items: center;
            justify-content: center;

            h3 {
                margin: 0 0 0 8px;
            }

            &:hover {
                background-color: rgba(0, 123, 255, 0.1);
            }

            &.active-link {
                border-color: #fff200;
                background-color: rgba(250, 250, 250, 0.2);
                font-weight: bold;
            }
        }
    }

    .profile-content {
        margin-top: 50px;
        padding: 20px;
        border-top: 3px solid #007bff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
    }

    // .profile-details {
    //     margin-top: 20px;
    //     padding: 20px;
    //     background: #f9f9f9;
    //     border-radius: 10px;
    //     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    // }
}