.dashboard-layout {
    display: flex;
    min-height: 100vh;
    background-color: whitesmoke;
}

.left-sidebar {
    width: 25%;
    background-color: #f0f0f0;
    /* position: fixed; */
}

.main-page {
    flex-grow: 1;
    width: 50%;
    background-color: #ffffff;
}

.right-sidebar {
    width: 25%;
    background-color: #f0f0f0;

}