.right-sidebar {
    flex: 2;
    position: sticky;
    top: 100px;
    // height: calc(100vh - 100px);
    // overflow: scroll;
    // border-radius: 12px;
    // border: 1px solid whitesmoke;
    background-color: #fff;

    .container {
        .item {
            display: flex;
            align-items: center;
            gap: 150px;
            margin-bottom: 1000px;

            span {}

            .event-link {}
        }
    }
}